<table>
  <colgroup>
    <col width="40%" />
    <col width="60%" />
  </colgroup>
  <thead>
    <tr>
      <th align="center" style="font-size:16px">Topics</th>
      <th align="center" style="font-size:16px">Suggested Readings</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><strong>Week 1: Basic Unix + What is Git?</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 2: Branching, Merging, and Rebasing</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 3: Github</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 4: Remotes and Upstream</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 5: Understanding Your Repository</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 6: Putting Out Fires Part 1</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 7: Putting Out Fires Part 2</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 8: Hooks and other git tricks</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 9: Creating Websites With Git</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Week 10: Git and Github in the Wider World</strong></td>
      <td></td>
    </tr>
  </tbody>
</table>
